*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html{
    scroll-behavior: smooth;
}

header{
    display: flex;
    align-items: center;
    padding: 10px 25px;
    background-color: white;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    border-top: none;
    border-bottom:1px solid #ff914d;
}

.logo{
    text-decoration: none;
    font-weight: bold;
    font-size: 19px;
    display: flex;
    align-items: center;
    color: #ff914d;
    background-color: white;
    margin-right: auto;
    gap: 5px;
    cursor: pointer;
}

.logo img{
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.nav-bar{
    display: flex;
    gap : 0;
}

.nav-bar a{
    font-size: 19px;
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 5px 20px;
    transition: 0.3s ease-in-out;
}

.nav-bar a:hover{
    background-color: #ffe0cc;
    padding: 5px 30px;
    border-radius: 5px;
}

.nav-bar a.selected{
    color: white;
    background-color: #ff914d;
    padding: 5px 30px;
    border-radius: 5px;
}

.hamburger{
    position: relative;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
}

.hamburger span{
    display: block;
    height: 3px;
    width: 24px;
    background: #ff914d;
    border-radius: 1px;
    margin-bottom: 5px;
    transition: 0.4s ease;
}

.hamburger span:last-child{
    margin-bottom: 0;
}

.hamburger.active span:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active span:nth-child(2){
    opacity: 0;
}

.hamburger.active span:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}

.carousel{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.carousel-slides{
    display: flex;
    transition: transform 0.5s ease-in-out;
    height:100%;
}

.slide{
    position: relative;
    min-width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    flex-shrink: 0;
}

.slide .overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.4);
}

.slide .caption{
    position: absolute;
    bottom: 30px;
    right: 40px;
    display: flex;
    align-items: center;
    gap:6px;
    border-radius: 20px;
    color: white;
    font-size: 18px;
    padding: 10px 10px;
}

.slide .caption img{
    width: 26px;
    height: 26px;
    border-radius: 50%;
    object-fit: cover;
}

.carousel-nav{
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.carousel:hover .carousel-nav{
    opacity: 1;
}

.carousel-nav button{
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: #ffe0cc;
    padding: 10px;
    cursor: pointer;
    font-size: 45px;
    border-radius: 50%;
}

.carousel-indicators{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px
}

.carousel-indicators .dot{
    width: 10px;
    height: 10px;
    background-color: #ffe0cc;
    border-radius: 50%;
    cursor: pointer;
}

.carousel-indicators .dot.active{
    background-color: #ff914d;
}

.carousel-caption-fixed{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 7%;
    z-index: 5;
    color: #ff914d;
}

.carousel-caption-fixed h1{
    font-size: 75px;
    line-height: 1.2;
    font-weight: bold;
}

.explore-btn{
    display: inline-block;
    margin-top: 30px;
    padding: 10px 30px;
    border: 2px solid #ff914d;
    color: #ff914d;
    background-color: transparent;
    border-radius: 5px;
    font-size: 18px;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.explore-btn:hover{
    padding: 10px 40px;
    background-color: #ff914d;
    color: white;
}

.trending{
    padding: 30px 30px;
    text-align: center;
    background-color: transparent;
    border-top: 1px solid #ff914d;
    border-bottom: 1px solid #ff914d;
}

.section-title{
    font-size: 45px; 
}

.tags-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding-top: 20px;
}

.tags-container a{
    text-decoration: none;
    padding: 10px 30px;
    border: 2px solid #ff914d;
    color: #ff914d;
    border-radius: 9999px;
    font-size: 28px;
    transition: 0.3s ease-in-out;
}

.tags-container a:hover{
    padding: 10px 40px;
}

.featured-artworks{
    padding: 30px 40px;
    width: 100%;
    text-align: center;
    justify-content: center;
}

.title{
    padding-bottom: 30px;
}

.title span{
    font-size: 22px;
}

.list-of-artworks{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: flex-start;
}

.artwork{
    max-width: 429px;
    height: auto;
    background-color: #f3f3f3;
    border-radius: 10px;
    text-align: left;
    position: relative;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.artwork:hover{
    box-shadow: 0 10px 20px #ffe0cc;
    transform: translateY(-5px);
}

.artwork img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.artwork h3{
    padding: 10px 15px;
    font-size: 27px;
    font-weight: 600;
}

.artist{
    padding: 0 15px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 2px;
    color: black;
}

.artist span{
    font-size: 18px;
    color: black;
}

.artist img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.likes{
    position: absolute;
    bottom: 12px;
    right: 16px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.like-btn{
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: #ffe0cc;
    cursor: pointer;
    font-size: 28px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
    transition: 0.3s ease-in-out;
}

.like-btn.liked{
    color: #ff914d;
}

.like-count{
    font-size: 18px;
}

footer{
    border-top: 1px solid #ff914d;
    border-bottom: 1px solid #ff914d;
    padding-bottom: 15px;

    background-color: transparent;
    text-align: center;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 45px;
    border-bottom: 1px solid #ff914d;
}

.footer-nav{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: auto;
}

.logo-nav{
    font-weight: bold;
    font-size: 19px;
    display: flex;
    align-items: center;
    color: #ff914d;
    background-color: white;
    gap: 5px;
    cursor: pointer;
    text-decoration: none;
}

.logo-nav img{
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.footer-nav a{
    text-decoration: none;
    color: black;
    font-size: 19px;
    transition: 0.3s;
}

.footer-nav a:hover{
    color: #ff914d
}

.footer-bottom{
    margin-top: 15px;
    font-size: 19px;
    color: black;
}

.tags-container-gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 30px;
    text-align: center;
    background-color: transparent;
    gap: 10px;
}

.tags-container-gallery a{
    text-decoration: none;
    padding: 10px 30px;
    border: 1px solid #ff914d;
    color: #ff914d;
    border-radius: 9999px;
    font-size: 19px;
    font-weight: 700;
    transition: 0.3s ease-in-out;
}

.tags-container-gallery a.active{
    background-color: #b25d18;
    text-decoration: none;
        padding: 10px 30px;
        border: 1px solid #ff914d;
        color: white;
        border-radius: 9999px;
        font-size: 19px;
        font-weight: 700;
        transition: 0.3s ease-in-out;
}

.tags-container-gallery a:hover{
    padding: 10px 40px;
}

.tags-container-gallery a.selected{
    padding: 10px 40px;
    color:white;
    background-color: #ff914d;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, .8);
    z-index: 9999;
}

.modal-content {
    width: 90%;
    max-width: 1400px;
    height: 80vh;
    margin: 50px auto;
    background: white;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    position: relative;
}

.modal-left {
    flex: 2;
}

.modal-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modal-right {
    flex: 1;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.modal-author {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 15px 0;
}

.modal-author img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.modal-likes {
    margin-top: auto;
    font-size: 24px;
}

.close {

    position: absolute;

    right: 20px;
    top: 10px;

    font-size: 40px;

    cursor: pointer;
}
.profilePic{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    object-fit: cover;
}

.close{
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 50px;
    cursor:pointer;
    color: #ff914d;
}

.form-wrapper{
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: transparent;
}

.form-container {
    background-color: white;
    width: 700px; 
    padding: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    position: relative;
    z-index: 1;
}

.form-container h1{
    padding-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
.form-group textarea{
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #333;
    border-radius: 5px;
    transition: border-color 0.3s ease;
    resize: none;
}

input:focus,
.form-group textarea:focus{
    outline: none;
    border-color: #ff914d;
}

select {
    padding: 10px 7px;
    border-radius: 5px;
    border: 1px solid #333;
    background-color: white;
    font-size: 1rem;
    width: 100%;
    color: #777;
    transition: border 0.3s, color 0.3s;
    cursor: pointer;
}

select:focus{
    border-color: #ff914d;
    outline: none;
    color: #000;
}

select option {
    color: #000;
    background-color: white;
}

select option:checked{
    background-color: #ff914d;
    color: white;
}

input[type="radio"] {
    vertical-align: middle;
    width: auto;
    margin-right: 5px;
    border: 1px solid #333;
    width: 15px;
    height: 15px;
}

input[type="file"]{
    font-size: 1rem;
}

.radio-group{
    display: flex;
    gap: 50px;
}

.form-wrapper button {
    width: 100%;
    padding: 15px;
    background-color: #ff914d;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-wrapper button:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.error {
    color: red;
    font-size: 0.9rem;
    margin-top: 5px;
    font-style: italic;
}

#previewContainer{
    margin-top: 10px;
}

#imagePreview{
    max-width: 100%;
    display: none;
    border-radius: 10px;
}

.main-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 40px;
}

.left-section{
    width: 65%;
    margin-right: 20px;
}

.right-section{
    width: 35%
}

.main-wrapper h2{
    padding-bottom: 10px;
}

.discussion{
    padding-bottom: 15px;
}

.card{
    border: 1px solid black;
    border-radius: 12px;
    overflow: hidden;
}

.forum-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    border-top: 1px solid #ccc;
    font-size: 20px;
    transition: 0.3s ease-in-out;
}

.user{
    display: flex;
    padding: 12px 16px;
    border-top: 1px solid #ccc;
    font-size: 20px;
    transition: 0.3s ease-in-out;
}

.forum-item:first-child, .user:first-child{
    border-top: none;
}

.forum-item p, .user p{
    margin: 0;
    font-size: 15px;
    color: #444;
}

.info{
    display: flex;
    flex-direction: column;
    text-align: right;
    font-size: 15px;
    color: #333;
}

.user{
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.user div{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.user img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 3px;
}

.forum-item:hover, .user:hover{
    background-color: #ffe0cc;
}

.aboutus-wrapper{
    padding: 30px 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.vision, .mission, .features{
    padding: 30px 40px;
    width: 100%;
    height: auto;
    background-color: #ffe0cc;
    border-radius: 10px;
}

.features{
    display: flex;
    flex-direction: column;
    gap:20px;
    align-items: center;
}

.features-card{
    display: flex;
    align-items: center;
    gap: 60px;
}

.features-card img{
    width: 40%;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3)
}

.aboutus-wrapper p, .aboutus-wrapper strong{
    font-size: 30px;
}

@media only screen and (max-width: 768px){
    .nav-bar{
        visibility: hidden;
        opacity: 0;
        transform: translateY(0);
        transition: all 0.3s ease;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: -1px;
        right: 20px;
        background-color: white;
        border-radius: 0 0 8px 8px;
        padding: 10px;
        gap: 10px;
        display: flex;
        z-index: 1001;
    }

    .nav-bar.active{
        visibility: visible;
        opacity: 1;
        transform: translateY(56px);
    }

    .hamburger{
        display: block;
        align-items: center;
    }

    header{
        z-index: 1000;
        justify-content: none;
    }

    .carousel{
        z-index: 1;
    }
    
    .carousel-caption-fixed{
        left: 13%;
    }

    .carousel-caption-fixed h1{
        font-size: 70px;
    }

    .slide .caption{
        bottom: 50px;
    }

    .list-of-artworks{
        justify-content: center;
    }

    .footer-nav{
        display: flex;
        flex-direction: column;
        margin-right: 0;
        gap: 20px;
    }

    .footer-container{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    .modal-body{
        width: 90%;
        flex-direction: column;
    }

    .Picture{
        max-width: 100%;
        border-radius: 10px 10px 0 0;
    }

    .modal-info{
        padding: 15px 20px;
        padding-bottom: 48px;
    }

    .left-section, .right-section{
        width: 100%;
    }

    .main-wrapper{
        flex-direction: column;
    }

    .activity{
        padding-bottom: 15px;
    }

    .features{
        gap: 35px;
    }

    .features-card{
        flex-direction: column;
        gap: 10px;
    }

    .features-card img{
    width: 100%;
    }
    
    .info-features{
        padding: 0 15px;
    }
}

